.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 80px;
    border-radius: 25%;
}

.container__info{
    display: block;
    width: 40%;
    background-color: none;
    color: black;
    padding: 12px;
    }
.container__info span{
    margin: 12px;
    justify-content: space-between;
}
.container__info .title{
    display: flex;
    margin: 12px;
}

.card-img{
    
        width: 200%;
        height: 300px;    
}
.apartment{
    margin-left: 12px;
}

.rate{
    color: #EB5757;
    font-size: 20px;
}