.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    border: solid red;
}

.container__info{
    display: block;
    width: 40%;
    background-color: black;
    color: aliceblue;
    border: solid green;
}

.card-img{
    width: 20%;
}